global:
  rrd_path: /var/lib/rrd
  graph_path: /var/lib/rrd/graph
  graph_hostname_prefix: false
  graph_width: 800
  graph_height: 300

netif:
  enable: true
  step: 60
  max_historic_years: 1
  create_graphs: true
  auto_discovery: false
  interfaces:
    - name: lo
      description: lo - Loopback
      enable: true

    - name: eth0
      description: eth0 - FastEthernet LAN
      enable: true
    
    - name: eth1
      description: eth1 - FastEthernet LAN
      enable: false

system:
  enable: true
  step: 120
  max_historic_years: 1
  create_graphs: true

kernel:
  enable: true
  step: 120
  max_historic_years: 1
  create_graphs: false