global:
  rrd_path: /var/lib/rrd
  graph_path: /var/lib/rrd/graph
  graph_width: 800
  graph_height: 300
  hostname_prefix: false

# System load average and usage
system:
  enable: true
  step: 60
  max_historic_years: 1
  create_graphs: true

# Global kernel usage
kernel:
  enable: true
  step: 120
  max_historic_years: 1
  create_graphs: true

# File system usage, I/O and Inode count
filesystem:
  enable: true
  step: 120
  max_historic_years: 1
  create_graphs: true
  mountpoints: 
    - /
    - /boot

# Process Monitoring (per-application tracking)
process:
  enable: true
  step: 60
  max_historic_years: 1
  create_graphs: true
  processes:
    - name: gonitorix
      description: Gonitorix - monitoring tool

    - name: pihole-FTL
      description: Pi-hole DNS and query engine

# Network traffic and usage
netif:
  enable: true
  step: 60
  max_historic_years: 1
  create_graphs: true
  auto_discovery: false
  interfaces:
    - name: lo
      description: lo - Loopback
      enable: true

    - name: eth0
      description: eth0 - FastEthernet LAN
      enable: true
    
    - name: eth1
      description: eth1 - GigabitEthernet LAN
      enable: false

# Network Latency
latency:
  enable: true
  step: 30
  max_historic_years: 1
  create_graphs: true
  default_gateway: true
  max_parallel_probes: 2
  probe_timeout_seconds: 3
  probe_packets: 5
  hosts: 
    - name: google-dns-ipv4
      address: 8.8.8.8
      description: Google DNS (IPv4)

    - name: google-dns-ipv6
      description: Google DNS (IPv6)
      address: 2001:4860:4860::8888

    - name: registro-br
      description: REGISTRO.BR
      address: registro.br
      iface: eth1

# State of IPv4 and IPv6 network connections
connections:
  enable: true
  step: 60
  max_historic_years: 1
  create_graphs: true